{{ ansible_managed | comment }}
[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
ExecStart={{ node_exporter_bin }} \
    --web.listen-address={{ node_exporter_listen }} \
{% for c in node_exporter_collectors %}
    --collector.{{ c }}{{ ' \\' if not loop.last }}
{% endfor %}
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ node_exporter_textfile_dir }}

[Install]
WantedBy=multi-user.target
